html, body {
  height: 100%;
  width: 100%;
}
.indented 
{ padding-left: 50pt; padding-right: 50pt; } 
hr{
        height: 3.5px;
        background-color: #2b00ff;
        border: none;
    }
#background {
    transition: background-color 2s;
}
.button {
  background-color: #1c87c9;
  box-shadow: 0 5px 0 #105cad;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  display: inline-block;
        }
.small {
   display: block; 
   text-align: center; 
} 
.floatRight{
  float:right;
  margin-left:20px;
}
table, th, td {
  border:1px solid black;
}

.middleContent{
  height : 100%;
  margin-left : auto;
  margin-right : auto;
  width: 600px;
}